/* styles/PizzaCard.module.css */
.pizzaCard {
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 8px;
    margin: 0px;
    padding: 16px;
  }
  
  .pizzaImage {
    object-fit: cover;
    margin-right: 16px;
    background: transparent;
  }
  
  .pizzaDetails {
    flex-grow: 1;
  }
  
  .pizzaName {
    font-size: 2rem;
    margin-bottom: 8px;
    font-weight: 700;
  }
  
  .pizzaRating {
    color: #ffc107;
    margin-bottom: 8px;
  }
  
  .pizzaPrice {
    font-weight: bold;
    color: red;
    font-size: 2rem;
  }

  .namePrice {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .orderBtn {
    background: #fbb200;
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
    padding: 0.8rem 1.7rem;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    font-size: 12px;
    font-weight: 500;
    color: white;
}

@media screen and (max-width: 768px) {
  .namePrice {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
}
  