.descTitle {
    font-weight: 700;
    margin: 5px;
    font-size: 14px;
}

.desc {
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .strengthCard {
        display: flex;
        flex-direction: column;
    }
}